<ActionBar>
  <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
  <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
  </ActionItem>
  <Label text="Navigate"></Label>
</ActionBar>

<GridLayout class="page__content">
  <StackLayout class="text-color">
    <label text="Pull to refresh"></label>
    <PullToRefresh (refresh)="onPull($event)">
      <ListView [items]="this.listado.findAllPuntuaciones()" class="list-group" separatorColor="black" (itemTap)="onItemTap($event)">
        <ng-template let-item="item" let-i="index">
          <GridLayout rows="*" columns="100px,*,*">
            <Image [src]="item.imagen" col="0" row="0" height="100px"></Image>
            <Label [text]="item.nombre" col="1" row="0" class="list-group-item" color="black"></Label>
            <Label [text]="'Puntuacion: '+item.puntuacion" col="2" row="0" class="list-group-item"
              [color]="(item.puntuacion > 10) ? 'green' : 'red' "></Label>
          </GridLayout>
        </ng-template>
      </ListView>
    </PullToRefresh>
  </StackLayout>
</GridLayout>